/target/
/properties/
/properties/config.properties
/src/main/resources/service_credentials.json
/src/main/resources/procfile
/src/main/resources/service_credentials.json
/src/main/resources/system.properties
